body {
    background-color: #393E46;
    background-image: url('images/bg.jpg');
    background-repeat: none;
    background-size: cover;
}

.header {
    position: fixed;
    margin-bottom: 5%;
}

#banner {
    width: 1400px;
    height: 120px;
    position: fixed;
    background-color: rgb(109, 152, 134, .5);
    left: -2%;
    top: -10%
}

#RDmain {
    position: fixed;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 700;
    color: #F94A29;
    text-shadow: 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
    top: 27px;
    left: 31.2%;
}

#RDaboutme {
    position: fixed;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
    top: 27px;
    left: 45.2%;
}

#RDothers {
    position: fixed;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
    top: 27px;
    left: 61.2%;
}

#introductory {
    position: absolute;
    font-size: 60px;
    font-family: Verdana;
    font-weight: bolder;
    color: white;
    text-shadow: 3px 3px #1F8A70;
    top: 160px;
    left: 340px;
}

#introductory1 {
    position: absolute;
    font-size: 15px;
    font-family: Verdana;
    font-weight: bolder;
    color: white;
    text-shadow: .5px .5px black;
    top: 360px;
    left: 340px;
}

#dsgn1 {
    width: 5px;
    height: 180px;
    position: absolute;
    background-color: white;
    top: 210px;
    left: 310px;
}

#container {
    width: 750px;
    height: 300px;
    border: 5px solid;
    position: absolute;
    border-color: #31363d;
    background-color: #393E46;
    top: 150px;
    left: 262px;
}

#me1 {
    width: 300px;
    height: 290;
    position: absolute;
    top: 178px;
    left: 710px;
}