/* style the body */
body {
    background-image: url("images/pup-lagoon.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 90vh;
}


/* style audio animation */
audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px #F2CD5C;
    -moz-box-shadow: 15px 15px 20px #F2CD5C;
    box-shadow: 15px 15px 20px #F2CD5C;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

/* style audio */
audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #F2921D;
    -webkit-box-shadow:  2px 2px 4px 0px #F2921D;
    box-shadow: 2px 2px 4px 0px #F2921D;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:100px 100px 100px 100px ;
    color: white;
}

/* style the audio placement and attributes */
audio {
    position: absolute;
    top: 350px;
    left: 473px;
    width: 280px;
    height: 40px;
}

/* style the logo */
#puplogo {
    position: absolute;
    left: 65px;
    top: 20px;
    box-shadow: 2px 2px black;
    border-radius: 500px 500px 500px 500px;
}

/* style the p tag containing the title */
#title {
    position: absolute;
    left: 170px;
    top: 8px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px black;
}

/* style the p tag containing the composer of the hymn  */
#composer {
    position: absolute;
    left: 170px;
    top: 60px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px black;
}

/* for header  */
#maroon1 {
    position: relative;
    width: 572px;
    height: 50px;
    background-color: #820000;
    left: 700px;
    top: 23px
}

/* for header  */
#maroon2 {
    position: fixed;
    width: 40px;
    height: 50px;
    background-color: #820000;
    left: 0px;
    top: 20px
}

/* for header  */
#white {
    position: relative;
    width: 491px;
    height: 10px;
    background-color: white;
    left: 780px;
    top: -30px
}

/* for header  */
#yellow {
    position: relative;
    width: 480px;
    height: 10px;
    background-color: #F2921D;
    left: 750px;
    top: -40px
}

/* contains the lyrics */
#box {
    width: 680px;
    height: 150px;
    position: relative;
    left: 270px;
    top: 50px;
    border-color: #820000;
    border-radius: 30px 30px 30px;
    background-color: rgba(130, 0, 0, .5);
}

/* for the first line of the lyrics
that will be shown in the website */
.hymnLyrics {
    position: relative;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 50px;
    text-shadow: 1px 1px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -80px;
    margin-bottom: 2px;
}

/* foot banner */
#foot {
    position: fixed;
    width: 1292px;
    height: 60px;
    top: 520px;
    left: -10px;
    background-color: rgba(130, 0, 0, .7);
}

/* text for the name of the creator of the website */
#creator {
    position: fixed;
    left: 10px;
    top: 529px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px black;
}

/* for the second line of the lyrics
that will be shown in the website */
.hymnLyricsB {
    position: relative;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 50px;
    text-shadow: 1px 1px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -100px;
}