/* OVAL */
.ovalContainer {
    width: 550px;
    height: 250px;
    background-color: rgb(255, 255, 255, .9);
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-top: 40vh;
    margin-left: 62vh;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

#closeOval {
    background: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    margin: 25vh;
    margin-left: 68vh;
    margin-top: 40vh;
    left: 86vh;
    border: none;
    top: 2.5vh;
}

#oval-img {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 5vh;
    top: 5.5vh;
}

#oval-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 44vh;
    top: 4.5vh;
}

#oval-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 44vh;
    top: 11vh;
}


/* POOL */

.poolContainer {
    width: 550px;
    height: 250px;
    background-color: rgb(255, 255, 255, .9);
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-top: 40vh;
    margin-left: 62vh;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

#closePool {
    background: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    margin: 25vh;
    margin-left: 68vh;
    margin-top: 40vh;
    left: 86vh;
    border: none;
    top: 2.5vh;
}

#pool-img {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 5vh;
    top: 5.5vh;
}

#pool-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 44vh;
    top: 4.5vh;
}

#pool-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 40vh;
    left: 44vh;
    top: 11vh;
}


/* LAGOON */

.lagoonContainer {
    width: 550px;
    height: 250px;
    background-color: rgb(255, 255, 255, .9);
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-top: 65vh;
    margin-left: 62vh;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

#closeLagoon {
    background: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    margin: 25vh;
    margin-left: 68vh;
    margin-top: 65vh;
    left: 86vh;
    border: none;
    top: 2.5vh;
}

#lagoon-img {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 65vh;
    left: 5vh;
    top: 5.5vh;
}

#lagoon-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 65vh;
    left: 44vh;
    top: 4.5vh;
}

#lagoon-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    margin: 25vh;
    margin-left: 62vh;
    margin-top: 65vh;
    left: 44vh;
    top: 11vh;
}
