body {
    background-image: url("pup.jpg");
    background-size: cover;
    background-repeat: none;
    
}

img {
    width: 8%; 
    height: 8%;
    position: relative;
    left: 3%;
    right: 3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    }

audio {
    position: absolute;
    top: 450px;
    left: 80px;
    width: 280px;
    height: 40px;
    
}