body {
    background-image: url('pupbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;        
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 10px;
}

audio {
    position: relative;
    top: 350px;
    left: 3px;
}

.a {
    position: absolute;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style: bold;
    top: -18px;
    left: 130px;
}

.b {
    position: absolute;
    width: 580px;
    height: 40px;
    background-color: maroon;
    top: 25px;
    left: 700px;
}

.imnoLyrics {
    position: relative;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    line-height: 50px;
    text-shadow: 1px 1px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 200px;
}